<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>
      <div class="about content">
        <h2>About author</h2>
        <p>
          A passionate full stack Web developer, and a problem solver. Love to work in MERN stack and
          learning and working with new Technologies. Build projects such as Spam-SMS/E-Mail-Classifier model using
          Python and ML , Blog app using Node.js and Real time client-server Chat app using socket.io , Also I love to
          work and create wonderful projects with React JS.
        </p>
        <hr />
        <p>Regards</p>
        <strong> Bidipta Saikia </strong>
      </div>
      <%- include('./partials/footer.ejs')%>
  </body>

</html>